/target/*
JCIC-Visuals/Assets/External Assets/SampleScenes
JCIC-Visuals/Assets/External Assets/Standard Assets
JCIC-Visuals/Assets/External Assets/Gems Ultimate Pack
/nbproject/
/JCIC-Starterpack-Java/build/
/JCIC-Starterpack-Java/dist/
/JCIC-Starterpack-Java/nbproject/private/
JCIC-Visuals/Library/metadata/
JCIC-Visuals/Library/ShaderCache/
JCIC-Visuals/Assets/External Assets/
JCIC-Visuals/Library/UnityAssemblies/
